.table-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 4px;
}

.resizable-cell {
  border: 1px solid #aaa;
  background-color: #f7f7f7;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
}